<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
    <h1>登录页面</h1>
    <form>
        <table>
            <tr>
                <th>用户名</th>
                <td><input type="text" name="username" idk="username"></td> 
            </tr>
            <tr>
                <th>密码</th>
                <td><input type="password" name="password" id="password"></td>
            </tr>
            <tr>
                <th>&ensp;</th>
                <td><input type="submit" name="submitbtn" id='submitbtn' value="登录"></td>
            </tr>
        </table>
    </form>
</body>
</html>