<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>

<script src="/js/1.8.3/jquery.min.js"></script>
<script>
    $(function(){
        var href = window.location.href;
        $('.side-area a').each(function(index,ele){
            if(href.indexOf($(ele).attr('href'))>-1){
                $(ele).addClass('selected');
                return false;
            }
        })
        $('.trigger a').each(function(index,ele){
             if(href.indexOf($(ele).attr('href'))>-1){
                $(ele).addClass('selected');
                return false;
            }
        }) 
    })
</script>

