<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }} （{{site.posts.size}}）</a>

    <nav class="site-nav">
      <div class="trigger">
        {% assign _pages_array =  site.pages | sort: "order" %}
        {% for my_page in _pages_array %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>

<script src="/widget/js/1.8.3/jquery.min.js"></script>
<script>
    $(function(){
        var href = window.location.href;
        $('.side-area ul,.side-area h3').hide();
        $('.side-area a').each(function(index,ele){
            if(href.indexOf($(ele).attr('href'))>-1){
                $(ele).addClass('selected').parents('ul').show().prev().show();
                $('.side-area').show();
                return false;
            }
        })
        $('.trigger a').each(function(index,ele){
             if(href.indexOf($(ele).attr('href'))>-1){
                $(ele).addClass('selected');
                return false;
            }
        }) 
    })
</script>

