<div class="side-area" style="display: none;">
    {% if  site.categories.css %}
        <h3 class="side-title">CSS（{{site.categories.css.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.css | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}


    {% if  site.categories.html %}
        <h3 class="side-title">Html（{{site.categories.html.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.html | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if  site.categories.jquery %}
        <h3 class="side-title">JQuery（{{site.categories.jquery.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.jquery | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if  site.categories.js %}
        <h3 class="side-title">Js（{{site.categories.js.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.js | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if  site.categories.webpack %}
        <h3 class="side-title">Webpack（{{site.categories.webpack.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.webpack | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if  site.categories.mocha %}
        <h3 class="side-title">Mocha（{{site.categories.mocha.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.mocha | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if  site.categories.node %}
        <h3 class="side-title">Node（{{site.categories.node.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.node | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if  site.categories.mysql %}
        <h3 class="side-title">Mysql（{{site.categories.mysql.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.mysql | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if  site.categories.other %}
        <h3 class="side-title">其他（{{site.categories.other.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.other | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if  site.categories.tools %}
        <h3 class="side-title">工具（{{site.categories.tools.size}}）</h3>
        <ul>
        {% assign _posts_array =  site.categories.tools | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}' title=' {{node.title}}'>
                  {{node.title}}
                  <span class="side-time">{{ node.date | date: "%Y-%m-%d" }}</span>
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

</div>
