<div class="side-area">
    
    {% if  site.categories.css %}
        <h3 class="side-title">CSS</h3>
        <ul>
        {% assign _posts_array =  site.categories.css | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}'>
                  {{node.title}}
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}


    {% if  site.categories.html %}
        <h3 class="side-title">Html</h3>
        <ul>
        {% assign _posts_array =  site.categories.html | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}'>
                  {{node.title}}
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if  site.categories.jquery %}
        <h3 class="side-title">JQuery</h3>
        <ul>
        {% assign _posts_array =  site.categories.jquery | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}'>
                  {{node.title}}
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if  site.categories.js %}
        <h3 class="side-title">Js</h3>
        <ul>
        {% assign _posts_array =  site.categories.js | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}'>
                  {{node.title}}
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}


    {% if  site.categories.mocha %}
        <h3 class="side-title">Mocha</h3>
        <ul>
        {% assign _posts_array =  site.categories.mocha | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}'>
                  {{node.title}}
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if  site.categories.webpack %}
        <h3 class="side-title">Webpack</h3>
        <ul>
        {% assign _posts_array =  site.categories.webpack | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}'>
                  {{node.title}}
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if  site.categories.study %}
        <h3 class="side-title">其他</h3>
        <ul>
        {% assign _posts_array =  site.categories.study | sort: "order" %}
        {% for node in _posts_array %}
              <li>
                <a href='{{node.url | prepend: site.baseurl }}'>
                  {{node.title}}
                </a>
              </li>
        {% endfor %}
        </ul>
    {% endif %}

</div>
