/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background: #f4f4f4;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        display: inline-block;
        padding: 0 20px;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
           /*  margin-right: 20px; */
        }
    }
    .selected{
        background: $purple-color;
        color: $white-color;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background: #f4f4f4;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
    .post-meta{
        width:120px;
        display: inline-block;
    }

}
.post-category{
    background:$purple-color;
    color:$white-color;
    display:inline-block;
    padding: 0px 4px;
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
} 

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
.post-bottom{
    border: 1px solid #bdc0e3;
    background: #e5e3f6;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
    margin: 20px 0;
    color: #666;
}
//左侧菜单选中
.side-area {
    overflow: hidden;
    width: 220px;
    background: #fff;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: normal;
        border: 1px solid #eee;
        border-radius: 4px;
        li{
            line-height: 1.5em;
            ul {
                display: none;
            }
          }
    }
    a{
        font-size: 14px;
        display: block;
        padding: 8px 15px;
        border-bottom: none;
        position: relative;
        text-shadow: 0 1px 2px #eee;
        color: #948aec;
        transition: background 0.5s ease-out;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
            background:#e4e2fa;
            text-decoration: none;
            .iconfont {
                color: #aaa;
            }
        }
        .iconfont {
            color: #aaa;
            position: absolute;
            right: 12px;
            top: 11px;
            font-size: 12px;
            line-height: 14px;
        }
    }
    .side-highlight a {
        background: #FBFFD7;
        text-shadow: none;
        font-weight: bold;
        &:hover {
            background: #FBFFD7;
        }
    }
    .selected,.selected:hover{
        background: #7265e6;
        color: #fff;
        text-shadow:none;
    }
    .side-title{
        margin: 10px 0 0;
    }
}

.side-loading {
    height: 100px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #ddd;
    border-bottom: none;
}